<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar </title>
</head>
<body>
    <div class="container" layout:fragment="corpo">
        <form th:action="@{/helper/curso/salvar}" th:object="${disciplina}" method="post">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome da Disciplina</label>
                <input type="text" class="form-control" id="nome" th:field="*{nome}">
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição da Disciplina</label>
                <input type="text" class="form-control" id="descricao" th:field="*{descricao}" >
            </div>
            <select class="form-select form-select-lg mb-3" th:object="${cursos}">
                <option selected >Selecione o curso</option>
                <option th:each="c : ${cursos}" th:value="${c.id}" th:text="${c.nome}">One</option>
            </select>
            <select class="form-select form-select-lg mb-3" th:object="${diasDaSemana}">
                <option selected >Selecione o dia da semana</option>
                <option th:each="d : ${diasDaSemana}" th:value="${d}" th:text="${d.getDia()}">One</option>
            </select>
            <input type="hidden" id="id" th:field="*{id}">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</body>
</html>